<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome to the Home Page!</h1>

<div sec:authorize="isAuthenticated()">
    <p>Hello, <span sec:authentication="name"></span>!</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<div sec:authorize="!isAuthenticated()">
    <p><a th:href="@{/login}">Sign In</a></p>
</div>
</body>
</html>